.section-Avt{
    width: 100% !important;
    height: 396px;
    //border: 1px solid BLUE;
    padding-left: -100px;
    .section-body{
        
        .img-UD{
        
            img{
                width: 100% !important;
                height: 396px;
                //border: 1px solid black;
                //padding-left: -10px !important;
            }
        }
    }
    
}