.section-Spkhac{
    .section-content{
        .section-body{
            .img-khac{
                padding: 0 30px;
                img{
                    height: 160px;
                    width: 200px;
                }
            }
        }
    }
}